.container {  display: grid;
    height: 100vh;
    width: 100vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: var(--valeur2);
}
:root {
    --valeur1: #5751D6;
    --valeur2: #BCBCBC;
    --valeur3: white;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header { grid-area: 1 / 2 / 2 / 2;
background-color: var(--valeur1); }

.connexion{
    grid-area: 1 / 2 / 1 / 4;
    margin-top: 20%;
    
}

form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-top: var(--valeur1) 15px solid;
    border-radius: 12px;
    padding: 2em;
    box-shadow: 8px 6px  8px rgba(96, 95, 95, 0.3);
    transition: all 0.4s ease-in-out;
}
form input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--valeur2);
    width: 200px;
    transition: all 0.4s ease-in-out;
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.3);
}
form label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
form input:focus{
    outline: none;
    border: 2px solid var(--valeur1);
    box-shadow: 3px 2px 6px rgba(59, 51, 206, 0.3);
    transition: all 0.4s ease-in-out;
}
form .btn-principal{
    background-color: var(--valeur3);
}
form .btn-princpal:hover{
    background-color: #5751D6;
    transition: all 0.4s ease-in-out;
}